body {
  background: #ebedefe5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e3e3f0, #ebedef);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #34495e, #ebedef);
  font-family: Arial, Helvetica, sans-serif;
}